<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <div>
        <label for="">Id:
            <input type="text" v-model="id">
        </label>

        <label for="">Name:
            <input type="text" v-model="name">
        </label>

        <label for="">
            <input type="button" value="添加" @click="add">
        </label>
    </div>
    <!--in后面可以放数组、对象数组、对象、数字-->
    <p v-for="item in list" :key="item.id">
        <input type="checkbox">
        {{item.name}}</p>
</div>
<script>
    var vue = new Vue({
        el: "#app",
        data:{
            id: null,
            name: null,
           list:[ {id:1,name:'xsl'}, {id:2,name:'xls'}],
        },
        methods:{
            add(){
                this.list.unshift({id:this.id,name:this.name})
            }
        }
    });
</script>
</body>
</html>